.container-form {
    width: 94%;
    margin: 0 auto 100px auto;
    position: relative;
    padding-bottom: 40px;
}

fieldset {
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.row-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    width: 100%;
    position: relative; 
}

.row-form-total {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    width: 100%;
    position: relative; 
}

.container-input {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    position: relative;
}

.container-input-w76 {
    width: 76%;
}

.container-input-w30 {
    width: 30%;
}

.container-input-w53 {
    width: 53%;
}

.container-input-w21 {
    width: 21.33%;
}

.container-input-w33 {
    width: calc(100% /3);
}

.container-input span {
    color: #2C0548;
    font-size: 18px;
    font-weight:600;
    margin-left: 15px;
    line-height: 15px;
    margin-bottom: 3px;
    z-index: 1;
}

.span-help {
    margin-left: 35px !important;
    z-index: 1;
}

input {
    outline: none;
    border: none;
    background-color: transparent;
    color: #2C0548;
    font-size: 18px;
    font-weight:400;
    padding: 20px;
}

input:focus {
    outline: none;
}

.input-control {
    width: 100%;
    height: 50px;
    border: 1px solid #2C0548;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 5px;
}

.input-init-35 {
    padding-left: 35px;
}

.input-txt-ini {
    width: 20px;
    height: 50px;
    position: absolute;
    top: 22.5px;
    left: 10px;
    line-height: 50px;
    color: #2C0548;
    font-size: 18px;
    font-weight:400;
}

.input-disabled {
    background-color: #2C0548;
    color: white;
    text-align: center;
}

.container-img-delete {
    position: relative;
    top: 35px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../img/delete.png);
    background-size: 100% 100%;
    border-radius: 50%;
    cursor: pointer; 
}

.container-img-delete-inv {
    position: relative;
    top: 35px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
}

.container-calc {
    width: 44%;
    min-width: 400px;
    position: absolute;
    right: 0;
    display: flex;
}

.container-result {
    width: calc(100% - 40px);
    height: 50px;
    min-width: 300px;
    background-color: #2C0548;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight:600;
    position: relative;
}

.container-result p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.container-result p:nth-of-type(1){
    margin-left: 30px;
    float: left;
}

.container-result p:nth-of-type(2){
    float: right;
    margin-right: 30px;
}

.container-calc img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.container-help {
    position: absolute;
    top:0;
    left: 15px;
    width: 15px;
    height: 15px;
    background-image: url("../img/help-web-button.png");
    background-size: 100% 100%;
    z-index: 10;
    margin-bottom: 3px;
}

.container-help:hover .hover-info {
    display: block;
    
}

.hover-info {
    width:200px;
    padding:20px;
    background-color: rgba(44, 5, 72,0.9);
    color: white;
    border-radius: 20px;
    display: none;
    transition: 1000ms;
    position: absolute;
    top: 14px;
    left: 0px;
    font-size: 12px;
}

@media screen and (max-width: 1230px) {
    .row-form {
        flex-direction: column;
        
        border-radius: 20px;
    }

    .container-input-w76,
    .container-input-w30,
    .container-input-w53,
    .container-input-w21,
    .container-input-w33 {
        width: 100%;
        margin: 15px auto;
    }
    
    .container-img-delete {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 30px;
        min-height: 30px;
    }

}

@media screen and (max-width: 570px) {
    .container-calc {
        position: relative;
        width: 100%;
        height: auto;
        right: auto;
        margin: 0 auto;
        min-width: 200px;
        margin-top: 20px;
    }

    .container-result {
        width: 100%;
        height: auto;
        padding: 5px;
        min-width: 200px;
        margin-top: 40px;
    }

    .container-result p {
        width: 100%;
        text-align: center;
        top: 0;
        transform: translateY(0);
        
    }

    .container-result p:nth-of-type(1){
        width: 100%;
        float: none;
        margin-left: 0;
    }
    
    .container-result p:nth-of-type(2){
        width: 100%;
        float: none;
        margin-right: 0;
    }

    .container-result-img {
        position: absolute;
        right: 0;
        top: -35px;
        transform: translateY(0);
        cursor: pointer;
        width: 100%;
        height: 50px;
        border: 2px solid #2C0548;
        border-radius: 20px;
        cursor: pointer;
    }

    .container-result-img img {
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

}

@media screen and (max-width: 320px) {
    .hover-info {
        left: 0;
    }
}
