* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2C0548;
}

body, input, button, textarea {
    font-family: 'Archivo Narrow', sans-serif;
    font: 600 18px 'Archivo Narrow', sans-serif ;
}